.floating-input-group {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
}

.floating-input {
    width: 100%;
    padding: 14px 12px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 8px;
    background: none;
    outline: none;
    box-sizing: border-box;
}

.floating-label {
    position: absolute;
    top: 14px;
    left: 12px;
    color: black;
    font-size: 18px;
    pointer-events: none;
    transition: 0.2s ease all;
    background-color: white;
    padding: 0 4px;
}

.floating-input:focus+.floating-label,
.floating-input:not(:placeholder-shown)+.floating-label,
.floating-input[type="date"]:valid+.floating-label,
.floating-input[type="password"]:not(:placeholder-shown)+.floating-label {
    top: -10px;
    font-size: 18px;
    color: black;
}

.floating-input[type="number"] {
    text-align: right;
}