:root {
  --fc-button-hover-bg-color: #5271FF;
  --fc-button-hover-border-color: #5271FF;
  --fc-today-bg-color: #778ae054;
}

.agenda-container {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  height: 100vh;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 35px;
  padding: 2vh 0 8vh 0;
}

.calendario {
  display: flex;
  justify-content: center;
  width: 100%;
  color: black;

}

.calendario>div {
  width: 100%;
  max-width: 1300px;
}

.fc-toolbar-title {
  text-transform: capitalize;
  color: black;
}

.fc .fc-button-primary:disabled {
  background-color: var(--purple-light);
  border-color: var(--purple-light);
  color: black;
}

.fc .fc-button:disabled {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: black;
  opacity: 1;
}

.fc .fc-button:not(:disabled) {
  cursor: pointer;
}

.fc .fc-button-primary {
  background-color: var(--purple-light);
  border-color: var(--purple-light);
  color: black;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: black;
  opacity: 1;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #778ae054;
}

.add-button {
  width: 15%;
  height: 5vh;
  background-color: var(--txt-purple);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-button:hover {
  background-color: #5272ffd6;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
