.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 12px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 300px;
 
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 16px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-description {
  color: #555;
  margin-bottom: 16px;
}

.card-button {
  background-color: #5271FF; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background 0.3s;
}

.card-button:hover {
  background-color: #5271FF;
}
