.card {
  background: white;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 8px 12px rgba(0,0,0,0.1);
  text-align: center;
  width: 25%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-title {
  font-size: 25px;
  font-weight: bold;
  color: black;
  padding: 0;
}

.card-description {
  color: #555;
  font-size: 20px;
  width: 90%;
}

.card-button {
  background-color: #5271FF; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 20px;
  width: 50%;
  height: 5vh;
}

.card-button:hover {
  background-color: #5271FF;
}
