/* Page.css */
.page {
  grid-area: main;
  padding: var(--gutter);
  background: #fff;
  color: var(--gray-dark);
  overflow-y: auto;
}

.page h3 {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  color: var(--gray-dark);
}

.hero-section {
  position: relative;
  height: 70vh;
  background-image: url('../img/banner.png');
  background-size: cover;
  background-position: unset;
  background-repeat: no-repeat;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(252, 252, 252, 0.258);
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  color: #5271FF;
  font-size: 90px;
  font-weight: 400;
}


.about-section {
  padding: 50px 0px;
  margin: 0 auto;
}

h2 {
  color: #5271FF;
  font-size: 30px;
  padding-bottom: 2vh;
  font-weight: 500;
  text-align: left;
}

.about-section p {
  color: #333;
  font-size: 25px;
  line-height: 1.5;
  text-align: justify;
  width: 95%;
  padding-left: 5%;
  padding-top: 1%;
}

.product-service-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  flex-direction: row;
}