:root {
    --header-height: 4rem;
    --nav-height: 3rem;
    --footer-height: 6rem;
    --gutter: 1rem;
    --aside-min: clamp(4rem, 12vw, 13rem);

    --color-primary: #DFE3FF;
    --txt-purple: #5271FF;
    --purple-light: #B0BAFF;
    --gray-light: #ECF0F1;
    --gray-medium: #BDC3C7;

    --color-success: #27AE60;
    --color-warning: #F39C12;
    --color-danger: #C0392B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background: var(--gray-light);
    color: var(--gray-dark);
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows:
        var(--header-height) 1fr var(--footer-height);
    grid-template-columns:
        auto 1fr;
    grid-template-areas:
        "header header"
        "aside  main"
        "footer footer";
    overflow: hidden;
}

header {
    grid-area: header;
    position: sticky;
    top: 0;
    background: var(--color-primary);
    color: black;
    padding: var(--gutter);
}


aside {
    grid-area: aside;
    background: var(--gray-medium);
    color: var(--gray-dark);
    overflow-y: auto;
}

main {
    grid-area: main;
    background: #fff;
    color: var(--gray-dark);
    padding: var(--gutter);
    overflow-y: auto;
}

footer {
    grid-area: footer;
    position: sticky;
    bottom: 0;
    background: var(--color-primary);
    color: black;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-rows:
            var(--header-height) var(--nav-height) auto var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }

    aside {
        display: none;
    }
}